/*

!backend/
!frontend/
!frontend_old/
!package.json
!package-lock.json
!tsconfig.json

!data/
!music.bd
!flake.nix
!flake.lock

!LICENSE
!.gitignoge
!README.md
!NOTICE.md
!DISCLAIMER.md

**/__pycache__
/data/songs
